
{{!-- mensagem layout de cancelamento, esse nome tem que estar .handlebars .hbs não funciona --}}
{{!-- ver essa mensagem em mailtrap.io  --}}
<strong>Olá, {{ amigo }}!</strong>
<p>Cancelaram um compromisso com você, confira os detalhes abaixo:</p>
<p>
  <strong>Nome: </strong> {{ usuario }} <br />
  <strong>Data: </strong> {{ data }} <br />
   <strong>Compromisso: </strong> {{ assunto }} <br />
  <br />
  <small>
    O horário está novamente disponível para novos eventos.
  </small>
</p>
