<strong>Olá, {{ usuario }}!</strong>
<p>Esqueceu sua senha?</p>

<p>Token: {{token}}</p>

  <small>
    Para recuperar sua conta, volte ao aplicativo e utilize o token acima para redefinir sua nova senha.
  </small>
  <br />
